In [5]:
import pandas as pd
import os

In [6]:
pwd = os.getcwd()
tweets = pd.read_csv(pwd + "/tweet_output/part-00000.txt", header=None, index_col=0)

In [7]:
tweets.head()

                                                                               1
0
Fri Apr 17 20:30:31 PDT 2009    Working on my songg for aunt nan   kinda hard...
Fri Apr 17 20:30:43 PDT 2009    taking some much needed naked time  too bad i...
Fri Apr 17 20:30:44 PDT 2009    latinluvly aww why not  They r the cutest thi...
Fri Apr 17 20:30:45 PDT 2009          chriswhill sweet  Josh is at work though\t
Fri Apr 17 20:30:47 PDT 2009                           Im losing followers lol\t

In [11]:
len(tweets)

675066